//@font-face {
//  font-family: 'Roboto-Light';
//  src: url('../../assets/fonts/Roboto-Light.ttf');
//}
//
//.main {
//  font-family: 'Roboto-Light', sans-serif;
//  background-color: #0e0e0e;
//  min-height: 100vh;
//}
//
//.list-header {
//  color: #6394b2;
//  background-color: #151a1f;
//  padding: 1rem 0;
//  border-bottom: 2px solid #0e0e0e;
//}
//
//.list-title {
//  font-size: 26px;
//}
//
//.list-count {
//  font-size: 40px;
//}
//
//.list-form {
//  background-color: #151a1f;
//  border-bottom: 1px solid #5283a1;
//  color: #ffffff;
//}
//
//.form-control {
//  background-color: #2c363f !important;
//  border: none;
//  color: #ffffff !important;
//  font-size: 14px;
//}
//
//.form-control:hover {
//  cursor: pointer;
//}
//
//.list-search {
//  padding: 1rem 0 2rem;
//}
//
//.patient {
//  padding: 1rem 0;
//  background-color: #151a1f;
//  color: #ffffff;
//  border: 1px solid #5283a1;
//}
//
//.patient:hover {
//  background-color: #2c363f;
//  cursor: pointer;
//}
